<div ng-include="'<%= asset_path 'templates/_navigation.html' %>'"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>Time Zones</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form class="form-inline">
        <input ng-model="q" id="search-input" type="text" autofocus="true" class="form-control">
        <button ng-click="search(q)" class="btn btn-info">Search</button>
      </form>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table id="time-zones" class="table table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>City</th>
              <th>Time</th>
              <th>Time zone</th>
              <th><!-- Actions --></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="time_zone in time_zones" class="time-zone-item">
              <td>{{ time_zone.id }}</td>
              <td>{{ time_zone.name }}</td>
              <td>{{ time_zone.city }}</td>
              <td>XX:XX</td>
              <td>{{ time_zone.gmt_hour_diff }}:{{ time_zone.gmt_minute_diff }}</td>
              <td>
                <a ng-href="#/time_zones/{{time_zone.id}}" class="btn btn-info pull-right">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
